body::before{
  content:'';
  position: fixed;
  inset: 0;
  pointer-events:none;
  opacity: .16;
  background-image:
    linear-gradient(90deg, rgba(255,178,74,.12) 1px, transparent 1px),
    linear-gradient(0deg, rgba(61,255,157,.08) 1px, transparent 1px);
  background-size: 84px 84px;
  mask-image: radial-gradient(70% 55% at 50% 35%, #000 60%, transparent 100%);
}

body::after{
  content:'';
  position: fixed;
  inset: 0;
  pointer-events:none;
  background:
    radial-gradient(60vmax 44vmax at 50% 18%, rgba(255,178,74,.06), rgba(0,0,0,0) 70%),
    radial-gradient(120vmax 90vmax at 50% 50%, rgba(0,0,0,0) 55%, rgba(0,0,0,.55) 100%);
  opacity: .9;
}
